<ion-content *ngIf="dataManager">
  <app-navigation-progress-bar></app-navigation-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-no-padding">
          <ion-col class="column-key ion-no-padding" size-xs="12" size-sm="6">
            <ion-item lines="none" class="ion-no-padding ion-text-center"
              ><ion-label class="ion-text-wrap">LED mode</ion-label></ion-item
            >
          </ion-col>
          <ion-col class="column-value ion-no-padding" size-xs="12" size-sm="6">
            <div style="margin: auto;">
              <monitoring-variable-value
                [lines]="'none'"
                [variable]="variables['lEDConfig']"
                [inputOptions]='{
    "type": "select",
    "options": [
        {
            "key": 0,
            "text": "Off"
        },
        {
            "key": 1,
            "text": "On"
        },
        {
            "key": 2,
            "text": "AUTO"
        }
    ]
}'
                [valueStyle]="{'font-size': 'inherit'}"
                slot="end"
                [editable]="true"
              >
              </monitoring-variable-value>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-item lines="full" class="card-header" color="secondary">
            <ion-icon name="clock" slot="start"></ion-icon>
            <ion-label>LED blink period (ms)</ion-label>
          </ion-item>

          <ion-card-content>
            <tap-variable-range
              [editable]="true"
              [variable]="variables['period']"
              pin="true"
              snaps="true"
              min="0"
              max="100"
              step="2"
            ></tap-variable-range>
          </ion-card-content>

          <ion-card-content>
            LED blinking period in milliseconds
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
