<ion-content *ngIf="data">
  <app-navigation-progress-bar></app-navigation-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <monitoring-gauge-card
          [input]="variables['Count'].monitor().values()"
          [max]="100"
          [min]="0"
          units=""
          alias="Counter value"
          [legend]="true"
        >
        </monitoring-gauge-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-item lines="full" class="card-header" color="secondary">
            <ion-icon name="sunny" slot="start"></ion-icon>
            <ion-label>LED</ion-label>
          </ion-item>

          <ion-card-content>
            <tap-variable-buttons
              [buttons]="LEDStatusButtons"
              [variable]="variables['LEDStatus']"
            >
            </tap-variable-buttons>
          </ion-card-content>

          <ion-card-content>
            Show if the led is enabled or not
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
