<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Developer</ion-label>
      <span slot="end">My company</span>
    </ion-item>

    <ion-item>
      <ion-label>About us</ion-label>
      <span slot="end">About my company</span>
    </ion-item>
  </ion-list>
</ion-content>
