<ion-content *ngIf="data">
  <app-navigation-progress-bar></app-navigation-progress-bar>

  <ion-list>
    <ion-card>
      <ion-item lines="full" class="card-header">
        <ion-label>Vcc</ion-label>
      </ion-item>
      <ion-card-content class="ion-no-padding">
        <monitoring-gauge-card
          [input]="variables['Voltage_V'].monitor().values()"
          [max]="4"
          [min]="2"
          units="V"
          digitsInfo="1.2-2"
        >
        </monitoring-gauge-card>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item lines="full" class="card-header">
        <ion-label>Processor temperature</ion-label>
      </ion-item>
      <ion-card-content class="ion-no-padding">
        <monitoring-chart-card
          [input]="Temperature_CChartData"
          xaxislabel="Temperature_C"
          [showLegend]="false"
        ></monitoring-chart-card>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
