<ion-content *ngIf="data">
  <app-navigation-progress-bar></app-navigation-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item lines="full" class="card-header" color="dark">
            <ion-icon name="analytics" slot="start"></ion-icon>
            <ion-label>Counter value</ion-label>
          </ion-item>

          <ion-card-content>
            <div style="margin: auto;">
              <monitoring-variable-value
                [lines]="'none'"
                [variable]="variables['Count']"
                [inputOptions]='{
    "min": 0,
    "max": 100
}'
                [valueStyle]="{'font-size': '3em'}"
                slot="end"
              >
              </monitoring-variable-value>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-item lines="full" class="card-header" color="secondary">
            <ion-icon name="sunny" slot="start"></ion-icon>
            <ion-label>LED</ion-label>
          </ion-item>

          <ion-card-content>
            <tap-variable-buttons
              [buttons]="LEDStatusButtons"
              [variable]="variables['LEDStatus']"
            >
            </tap-variable-buttons>
          </ion-card-content>

          <ion-card-content>
            Show if the led is enabled or not
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
