<ion-content *ngIf="data">
  <app-navigation-progress-bar></app-navigation-progress-bar>

  <ion-list>
    <ion-card>
      <ion-item lines="full" class="card-header">
        <ion-label>LED mode</ion-label>
      </ion-item>
      <ion-card-content class="ion-no-padding">
        <tap-variable-buttons
          [buttons]="LEDConfigButtons"
          [variable]="variables['LEDConfig']"
        >
        </tap-variable-buttons>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item lines="full" class="card-header">
        <ion-label>LED blink period (ms)</ion-label>
      </ion-item>
      <ion-card-content class="ion-no-padding">
        <tap-variable-range
          [editable]="true"
          [variable]="variables['Period']"
          pin="true"
          snaps="true"
          min="0"
          max="100"
          step="2"
        ></tap-variable-range>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
